<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Calculando estítistcas</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Adicione um número à lista:</label>
                <input [(ngModel)]="numero" type="number" class="form-control" placeholder="Digitei um número...">
                <small id="emailHelp" class="form-text text-muted">Somente números</small>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="adicionarNumero()" [disabled]="!numero">Adicionar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h4>Lista de números:</h4>
            <div class="row" *ngFor="let item of list; let i = index">
                <div class="col-sm-2">
                   {{ item }}
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-danger btn-sm" (click)="removerNumero(i)">Deletar</button>
                </div>
                <hr>
            </div>

        </div>
        <div class="col-sm-6">
            <h4>Estatísticas</h4>
            <p>Quantidade: {{list.length}}</p>
            <p>Valor máximo: {{valorMaximo}}</p>
            <p>Valor mínimo: {{valorMinimo}}</p>
            <p>Valor médio: {{valorMedio}}</p>
        </div>
        <hr />
    </div>
</div>
